<div style="text-align:center;">
<img id ="logo" style='vertical-align:middle;' src="../../assets/graphics/nasa-logo.png" alt="logo">
<h1 style='vertical-align:middle; display:inline;'>
NASA Image Search
</h1>
</div>
<br/>
<button class="toolbar_button" routerLink="/logged">Search for Images</button><button class="toolbar_button" routerLink="/viewCollections">View Public Collections</button><button class="toolbar_button" routerLink="/myCollections">View My Collections</button>
<br/><br/><br/>


